html,
body,
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE et ancien Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge Chromium */
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
